[Unit]
Description=Apache Tomcat Server
After=syslog.target network.target

[Service]
Type=forking


Environment=CATALINA_PID=/u01/tomcat/temp/tomcat.pid
Environment=CATALINA_HOME=/u01/tomcat
Environment=CATALINA_BASE=/u01/tomcat

ExecStart=/u01/tomcat/bin/startup.sh
ExecStop=/u01/tomcat/bin/shutdown.sh

RestartSec=10
Restart=always
[Install]
WantedBy=multi-user.target
